<ng-container *ngIf="!isMobile">
  <div (click)="toggleFridge()" *ngIf="showClosedFridge" class="content-before"></div>
  <div *ngIf="showOpenFridge" class="content">
    <div class="ingredients">
      <p-listbox [(ngModel)]="selectedIngredients"
                 [checkbox]="true"
                 [listStyle]="{'height':'405px'}"
                 [multiple]="true"
                 [options]="ingredients"
                 optionLabel="name">
        <ng-template let-country pTemplate="item">
          <div class="ingredient-item">
            <div>
              <div><b>{{country.name}}</b></div>
              <div>{{country.experationDate.toLocaleDateString()}}</div>
            </div>
            <div class="item-buttons">
              <button class="p-button-help"
                      (click)="openDialog(country,false, $event, true);"
                      icon="pi pi-search"
                      pButton
                      pRipple
                      type="button"></button>
              <button (click)="openDialog(country,true, $event);"
                      class="p-button-danger"
                      icon="pi pi-times"
                      pButton pRipple
                      type="button"></button>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
    <div class="buttons">
      <button (click)="openDialog(null,false,$event)"
              class="p-button-raised p-button-success add-button"
              label="Add Ingredient"
              pButton pRipple
              type="button">
      </button>
      <button class="p-button-info recipe-button" label="Search For Recipe" pButton pRipple type="button"></button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="this.isMobile">
  <div class="content-mobile">
    <div class="ingredients-mobile">
      <p-listbox [(ngModel)]="selectedIngredients"
                 [checkbox]="true"
                 [listStyle]="{'height':'405px'}"
                 [multiple]="true"
                 [options]="ingredients"
                 optionLabel="name">
        <ng-template let-country pTemplate="item">
          <div class="ingredient-item">
            <div>
              <div><b>{{country.name}}</b></div>
              <div>{{country.experationDate.toLocaleDateString()}}</div>
            </div>
            <div class="item-buttons">
              <button class="p-button-help" icon="pi pi-search" pButton pRipple type="button"></button>
              <button (click)="openDialog(item,true,$event)" class="p-button-danger" icon="pi pi-times" pButton pRipple
                      type="button"></button>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>
  <div class="buttons-mobile">
    <button (click)="openDialog(null,false,$event)" class="p-button-raised p-button-success add-button-mobile" label="Add Ingredient" pButton
            pRipple type="button"></button>
    <button class="p-button-info recipe-button-mobile" label="Search For Recipe" pButton pRipple type="button"></button>
  </div>
</ng-container>
<app-delete-dialog
  (response)="closeDeleteDialog($event)"
  [ingredient]="selectedIngredient"
  [show]="deleteDialogOpen">
</app-delete-dialog>
<app-add-edit-dialog
  (response)="closeAddEditDialog($event)"
  [ingredient]="selectedIngredient"
  [show]="addEditDialogOpen"
  [isEdit]="isEdit">
</app-add-edit-dialog>







