.form {
  width: 100%;

}
::ng-deep .p-dialog-content {
  overflow: visible !important;
}

.toggle-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.upload-receipt {
  margin-top: 10px;
  margin-bottom: 10px;
}



